# Neighborhood Split (Feature Engineering)
    
In this notebook, we woyuld do some cleaning of data on the location feature in our various datasets.

The objective is to extract as much information to make the homes specific.

We would focus on extracting City and Neighborhood/area of home, we would have extracted info like street but not all listings have and it would give us a lot of None/ Missing values that would make it hard for model bulinf and more data cleaning later

In [196]:
import pandas as pd

# Ikeja

## Import Dataset and Check Basic Info

In [197]:
ikeja = pd.read_csv("dirty/ikeja.csv")

In [198]:
ikeja.head()

,Title,Location,Currency,Price,Serviced,Newly Built,Furnished,Bedrooms,Bathrooms,Toilets
0,Shops,Allen Avenue Roundabout Allen Avenue Ikeja Lagos,₦,"750,000/sqm",1,0,0,0 beds,0 baths,0 Toilets
1,Newly Built 5 Bedrooms Detached Triplex,"Eso Close, Off Oduduwa Crescent, Gra Ikeja, La...",₦,"280,000,000/year",0,1,0,5 beds,5 baths,6 Toilets
2,1800m2 Land,Off Adedayo Banjo Street Opebi Ikeja Lagos,₦,"220,000,000",0,0,0,0 beds,0 baths,0 Toilets
3,5 Bedroom Fully Detached Duplex,Magodo Ikeja Lagos,₦,"300,000,000",0,1,0,5 beds,6 baths,6 Toilets
4,Luxury Built 4bedroom Fully Detached Duplex,Ikeja Lagos,₦,"295,000,000",1,1,0,4 beds,5 baths,5 Toilets

## Testing a Split

We can see if we split the data and convert it to a list, the last item would be the state, second to the last the city and third and sometimes forth to the last contains the neighborhood.

We would create a function that would get third and fourth to the last, compare them and manually create a feature that has both of their info

In [199]:
ikeja["Location"][0].split()

['Allen', 'Avenue', 'Roundabout', 'Allen', 'Avenue', 'Ikeja', 'Lagos']

In [200]:
# Get Third to the last word in location data
def neighborhood1(col):
    # Create a list
    final = []
    
    # For each value in Location data, get the third to last word 
    # append it to list
    # If it doesnt have one, replace it with None
    for value in col:
        try:
            final.append(value.split()[-3])
        except:
            final.append("None")
            
    return final

# Get Fourth to the last word in location data
def neighborhood2(col):
    #Create a list
    final = []
    
    # For each value in Location data, get the fourth to last word
    # Append it to list
    # If it doesnt have one, replace it with None
    for value in col:
        try:
            final.append(value.split()[-4])
        except:
            final.append("None")
            
    return final

In [201]:
# Apply the function and extract it to two seperate features
ikeja["Neighborhood1"] = neighborhood1(ikeja["Location"])
ikeja["Neighborhood2"] = neighborhood2(ikeja["Location"])

In [202]:
ikeja[["Neighborhood1", "Neighborhood2"]]

     Neighborhood1 Neighborhood2
0           Avenue         Allen
1              Gra         Ikeja
2            Opebi        Street
3           Magodo          None
4             None          None
...            ...           ...
6648         Ikeja       Street.
6649         Ikeja       Street.
6650         Ikeja     Crescent,
6651         Ikeja          Gra,
6652         Ikeja        Estate

[6653 rows x 2 columns]

As we can see from looking at the unique values below and my further research of different areas in the Ikeja axis, I compared what i found to the cities in the unique and manually map them to their corresponfing cities.

The ones that didnt have i added them to the most frequent neighborhood wihich was GRA

In [203]:
# ikeja["Neighborhood1"].unique()

In [204]:
# ikeja["Neighborhood2"].unique()

In [205]:
def extract_neigh(feature):
    total = {}
    for value in feature:
        if ("Avenue" in value) or ("allen" in value.lower()):
            total[value] = "Allen Avenue"
        elif ("gra" in value.lower()) or ("g.r." in value.lower()):
            total[value] = "GRA"
        elif "opebi" in value.lower():
            total[value] = "Opebi"
        # elif "Alausa" in value:
        #     total[value] = "Alausa"
        # elif "Maryland" in value:
        #     total[value] = "Maryland"
        # elif ("road" in value.lower()) or ("highway" in value.lower()) or ("Airport" in value):
        #     total[value] = "Airport Road"
        elif "Alausa" in value:
            total[value] = "Alausa"
        elif "Maryland" in value:
            total[value] = "Maryland"
        elif ("road" in value.lower()) or ("highway" in value.lower()) or ("Airport" in value):
            total[value] = "Airport Road"
        elif ("Way" in value) or ("Way," in value):
            total[value] = "Awolowo Way"
        elif "jones" in value.lower():
            total[value] = "Adeniyi Jones"
        # elif "Oregun" in value:
        #     total[value] = "Oregun"
        # elif ("1" in value) or ("2" in value) or ("Omole" in value):
        #     total[value] = "Omole"
        # elif "Agidingbi" in value:
        #     total[value] = "Agidingbi"
        elif "Oregun" in value:
            total[value] = "Oregun"
        elif ("1" in value) or ("2" in value) or ("Omole" in value):
            total[value] = "Omole"
        elif "Agidingbi" in value:
            total[value] = "Agidingbi"
        else:
            total[value] = "Other Ikeja"
    return total

In [206]:
neighborhood = extract_neigh(ikeja["Neighborhood1"])

In [207]:
ikeja["Neighborhood"] = ikeja["Neighborhood1"].map(neighborhood)
ikeja.drop(["Neighborhood1", "Neighborhood2"], axis=1, inplace=True)

In [208]:
ikeja["Neighborhood"].value_counts(normalize=True) * 100

GRA              28.393206
Other Ikeja      18.713362
Adeniyi Jones    12.956561
Opebi             9.860213
Allen Avenue      7.650684
Awolowo Way       5.486247
Oregun            4.509244
Alausa            3.532241
Airport Road      2.450023
Agidingbi         2.450023
Maryland          2.134375
Omole             1.863821
Name: Neighborhood, dtype: float64

In [209]:
ikeja.to_csv("clean/ikeja.csv")

# Ikoyi

In [210]:
ikoyi = pd.read_csv("dirty/ikoyi.csv")

In [211]:
ikoyi.head()

,Title,Location,Currency,Price,Serviced,Newly Built,Furnished,Bedrooms,Bathrooms,Toilets
0,Newly Built 5 Bedroom Fully Detached Duplex,"Oniru Estate Victoria Island, Awolowo Road Iko...",₦,"250,000,000",1,1,1,5 beds,6 baths,6 Toilets
1,Luxury 5 Bedroom Terrace With Private Elevator...,Banana Island Estate Banana Island Ikoyi Lagos,$,"2,000,000",1,1,0,5 beds,7 baths,7 Toilets
2,Luxury 5 Bedroom Triplex Penthouse With Privat...,Banana Island Estate Banana Island Ikoyi Lagos,$,"4,000,000",1,1,0,5 beds,8 baths,8 Toilets
3,5 Bedroom Detached Duplex With 2 Staff Quarter...,Off Cameron Road Ikoyi Lagos,₦,"850,000,000",0,0,0,5 beds,8 baths,9 Toilets
4,Land Size: 1800 Sqm + Waterfront Dry Bareland,"Zone Q, Banana Island, Ikoyi Lagos. Banana Isl...",₦,"1,200,000/sqm",0,0,0,0 beds,0 baths,0 Toilets

In [212]:
ikoyi["Location"].sample()

8143    Bourdillon Bourdillon Ikoyi Lagos
Name: Location, dtype: object

In [213]:
ikoyi["Neighborhood1"] = neighborhood1(ikoyi["Location"])
ikoyi["Neighborhood2"] = neighborhood2(ikoyi["Location"])

In [214]:
ikoyi[["Neighborhood1", "Neighborhood2"]]

     Neighborhood1 Neighborhood2
0             Road       Awolowo
1           Island        Banana
2           Island        Banana
3             Road       Cameron
4           Island        Banana
...            ...           ...
9270        Estate       Onikoyi
9271        Estate       Onikoyi
9272        Estate       Onikoyi
9273        Estate       Onikoyi
9274        Estate       Onikoyi

[9275 rows x 2 columns]

In [215]:
# ikoyi["Neighborhood1"].unique()

In [216]:
# ikoyi["Neighborhood2"].unique()

In [217]:
def extract_neigh(feature):
    final = {}
    for value in feature:
        if ('Banana' in value) or ('Island' in value):
            final[value] = 'Banana Island'
        elif 'Old' in value:
            final[value] = 'Old Ikoyi'
        elif 'Parkview' in value:
            final[value] = 'Parkview'
        elif 'Foreshore' in value:
            final[value] = 'Foreshore'
        elif 'Onikoyi' in value:
            final[value] = 'Onikoyi'
        else:
            final[value] = 'Other Ikoyi'
    return final

In [218]:
neighborhood = extract_neigh(ikoyi["Neighborhood2"])

In [219]:
ikoyi["Neighborhood"] = ikoyi["Neighborhood2"].map(neighborhood)
ikoyi.drop(["Neighborhood1", "Neighborhood2"], axis=1, inplace=True)

In [220]:
ikoyi["Neighborhood"].value_counts(normalize=True) * 100

Other Ikoyi      35.061995
Banana Island    30.630728
Old Ikoyi        17.358491
Parkview          6.835580
Foreshore         6.123989
Onikoyi           3.989218
Name: Neighborhood, dtype: float64

In [221]:
ikoyi.to_csv("clean/ikoyi.csv")

# Lekki

In [222]:
lekki = pd.read_csv("dirty/lekki.csv")

In [223]:
lekki.head()

,Title,Location,Currency,Price,Serviced,Newly Built,Furnished,Bedrooms,Bathrooms,Toilets
0,Newly Built 4bedroom Apartment,Emcel Court Along Lafiaja Road Adjacent To Pri...,₦,"57,000,000",0,1,0,4 beds,4 baths,5 Toilets
1,3 Bedroom Maisonette,Lekki Lagos,₦,"79,000,000",0,1,0,3 beds,4 baths,4 Toilets
2,Exquisitely Built 4 Terrace Duplex For With Pr...,Chevron Lekki Lagos,₦,"60,000,000",0,1,0,4 beds,4 baths,5 Toilets
3,Most Affordable 4 Bedroom Detached Duplex For ...,Lekki Conservation Lekki Lagos,₦,"85,000,000",0,1,0,4 beds,4 baths,5 Toilets
4,Brand New 5 Bedroom Semi Detached Duplex,Oral Estate Lekki Lagos,₦,"85,000,000",0,1,0,5 beds,5 baths,6 Toilets

In [224]:
lekki["Location"].sample()

14719    Ikate Elegushi Street Ikate Lekki Lagos
Name: Location, dtype: object

In [225]:
lekki["Neighborhood1"] = neighborhood1(lekki["Location"])
lekki["Neighborhood2"] = neighborhood2(lekki["Location"])

In [226]:
lekki[["Neighborhood1", "Neighborhood2"]]

      Neighborhood1 Neighborhood2
0                 1         Phase
1              None          None
2           Chevron          None
3      Conservation         Lekki
4            Estate          Oral
...             ...           ...
45992         Lekki     District,
45993         Lekki       Estate,
45994         Lekki            1,
45995         Lekki        Marwa,
45996       Estate,         Homes

[45997 rows x 2 columns]

In [227]:
# lekki["Neighvborhood1"].value_counts()

In [228]:
# lekki["Neighborhood2"].unique()

In [229]:
lekki[lekki["Neighborhood1"] == "London"][["Neighborhood1","Neighborhood2", "Location"]]

,Neighborhood1,Neighborhood2,Location
24,London,Osapa,Osapa London Lekki Lagos
34,London,Osapa,Osapa London Lekki Lagos
37,London,Osapa,Osapa Osapa London Lekki Lagos
38,London,Osapa,Osapa Osapa London Lekki Lagos
39,London,Osapa,Osapa Osapa London Lekki Lagos
...,...,...,...
45497,London,Osapa,Osapa London Osapa London Lekki Lagos
45508,London,Osapa,Osapa London Osapa London Lekki Lagos
45540,London,Osapa,"Victory Park Estate, By Shoprite Roundabout Os..."
45549,London,Osapa,Chike Mba Street Osapa London Lekki Lagos
45555,London,Osapa,Pinnock Beach Estate Osapa London Lekki Lagos

In [230]:
def extract_neigh(feature):
    final = {}
    for value in feature:
        if 'chevron' in value.lower():
            final[value] = 'Chevron'
        elif '2' in value:
            final[value] = 'Lekki Phase 2'
        elif '1' in value:
            final[value] = 'Lekki Phase 1'
        elif 'Ikota' in value:
            final[value] = 'Ikota'
        elif 'Ikate' in value:
            final[value] = 'Ikate'
        elif 'Agungi' in value:
            final[value] = 'Agungi'
        elif 'Ologolo' in value:
            final[value] = 'Ologolo'
        elif 'Vgc' in value:
            final[value] = 'Victoria Garden City'
        elif ('London' in value) or ('Osapa' in value):
            final[value] = 'Osapa London'
        else:
            final[value] = 'Other Lekki'
    return final

In [231]:
neighborhood = extract_neigh(lekki["Neighborhood1"])

In [232]:
lekki["Neighborhood"] = lekki["Neighborhood1"].map(neighborhood)
lekki.drop(["Neighborhood1", "Neighborhood2"], axis=1, inplace=True)

In [233]:
lekki["Neighborhood"].value_counts(normalize=True) * 100

Other Lekki             18.844707
Chevron                 16.468465
Lekki Phase 1           16.392373
Ikota                   13.670457
Ikate                   11.457269
Osapa London             9.768028
Lekki Phase 2            4.650303
Agungi                   3.428484
Ologolo                  2.671913
Victoria Garden City     2.647999
Name: Neighborhood, dtype: float64

In [234]:
lekki.to_csv("clean/lekki.csv")

# Victoria Island

In [235]:
island = pd.read_csv("dirty/vi.csv")

In [236]:
island.head()

,Title,Location,Currency,Price,Serviced,Newly Built,Furnished,Bedrooms,Bathrooms,Toilets
0,Luxury 3 Bedroom Apartment With Excellent Fini...,Off Ligali Ayorinde Victoria Island Lagos,₦,"125,000,000",1,1,0,3 beds,3 baths,4 Toilets
1,Ultra Luxury 3 Bedroom Apartment,Victoria Island Victoria Island Extension Vict...,₦,"180,000,000",1,1,0,3 beds,4 baths,4 Toilets
2,Luxury 2 Bedrooms Apartment With Bq,Victoria Island Victoria Island Extension Vict...,₦,"120,000,000",1,1,0,2 beds,4 baths,3 Toilets
3,Brand New Specious Luxury 6 Bedroom Fully Deta...,Victoria Island Adeola Odeku Victoria Island L...,₦,"590,000,000",0,1,0,6 beds,6 baths,7 Toilets
4,Exquisite 3bedroom Apartment,Oniru Victoria Island Lagos,₦,"150,000,000",0,1,0,3 beds,3 baths,4 Toilets

In [237]:
island["Location"].sample()

1132    Oniru Victoria Island Oniru Victoria Island Lagos
Name: Location, dtype: object

In [238]:
island["Neighborhood1"] = neighborhood1(island["Location"])
island["Neighborhood2"] = neighborhood2(island["Location"])

In [239]:
island[["Neighborhood1", "Neighborhood2"]]

     Neighborhood1 Neighborhood2
0         Victoria      Ayorinde
1         Victoria     Extension
2         Victoria     Extension
3         Victoria         Odeku
4         Victoria         Oniru
...            ...           ...
4453      Victoria        Island
4454      Victoria        Island
4455      Victoria         Lagos
4456      Victoria        Island
4457      Victoria        Island

[4458 rows x 2 columns]

In [240]:
# island["Neighborhood1"].unique()

In [241]:
# island["Neighborhood2"].value_counts(normalize=True).head(30)

In [242]:
island[island["Neighborhood2"] == "1004"][["Neighborhood1","Neighborhood2", "Location"]]

,Neighborhood1,Neighborhood2,Location
5,Victoria,1004,Cluster D1 1004 Victoria Island Lagos
135,Victoria,1004,1004 Victoria Island Lagos
159,Victoria,1004,1004 Victoria Island Lagos
220,Victoria,1004,1004 Victoria Island Lagos
390,Victoria,1004,Cluster C6 1004 Victoria Island 1004 Victoria ...
...,...,...,...
4009,Victoria,1004,Ozumba Nbadiwe 1004 Victoria Island Lagos
4138,Victoria,1004,Ademola Adetokunbo 1004 Victoria Island Lagos
4286,Victoria,1004,1004 Estate Victoria Island Lagos 1004 Victori...
4296,Victoria,1004,"Muri Okunola,v.i 1004 Victoria Island Lagos"
4350,Victoria,1004,Ozumba Mbadiwe 1004 Victoria Island Lagos

In [243]:
def extract_neigh(feature):
    final = {}
    for value in feature:
        if 'oniru' in value.lower():
            final[value] = 'Oniru'
        elif 'Extension' in value:
            final[value] = 'Victoria Island Extension'
        elif 'Odeku' in value:
            final[value] = 'Waziri Adeola Odeku'
        else:
            final[value] = 'Other Victoria Island'
    return final

In [244]:
neighborhood = extract_neigh(island["Neighborhood2"])

In [245]:
island["Neighborhood"] = island["Neighborhood2"].map(neighborhood)
island.drop(["Neighborhood1", "Neighborhood2"], axis=1, inplace=True)

In [246]:
island["Neighborhood"].value_counts(normalize=True) * 100

Other Victoria Island        47.846568
Oniru                        36.316734
Victoria Island Extension    11.148497
Waziri Adeola Odeku           4.688201
Name: Neighborhood, dtype: float64

In [247]:
island.to_csv("clean/vi.csv")