# Dataset Concantenator
   
Here we are concantenating (adding row by row) our  various datasets into one main data set that we will use in my project

In [10]:
import pandas as pd

In [11]:
ikeja = pd.read_csv("clean/ikeja.csv")

In [12]:
ikoyi = pd.read_csv("clean/ikoyi.csv")

In [13]:
lekki = pd.read_csv("clean/lekki.csv")

In [14]:
victoria = pd.read_csv("clean/vi.csv")

In [15]:
lagos = pd.concat([ikeja, ikoyi, lekki, victoria])

In [16]:
lagos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66383 entries, 0 to 4457
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    66383 non-null  int64
 1   Title         66382 non-null  object
 2   Location      66383 non-null  object
 3   Currency      66383 non-null  object
 4   Price         66383 non-null  object
 5   Serviced      66383 non-null  int64
 6   Newly Built   66383 non-null  int64
 7   Furnished     66383 non-null  int64
 8   Bedrooms      66383 non-null  object
 9   Bathrooms     66383 non-null  object
 10  Toilets       66383 non-null  object
 11  Neighborhood  66383 non-null  object
dtypes: int64(4), object(8)
memory usage: 6.6+ MB

In [17]:
lagos.drop('Unnamed: 0', axis=1, inplace=True)

In [18]:
lagos.to_csv("clean/lagos.csv", index=False)